<div class="well col-md-4 col-md-offset-4">
  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group"><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true, class:"form-control" %></div>

      <div class="form-group"><%= f.label :password %><br />
        <%= f.password_field :password, class:"form-control" %></div>

      <div class="form-group"><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class:"form-control" %></div>

      <div class="form-group"><%= f.submit "Sign up", class:"btn btn-success" %></div>
      <%= render "devise/shared/links" %>

<% end %>
</div>







<!-- <div id="signin_form">
  <h2>Sign up</h2>
<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email Addres</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
   <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
<button type="submit" class="btn btn-default">Submit</button>
<%= render "devise/shared/links" %>

</form>
</div> -->


