<div  class="well col-md-4 col-md-offset-4">
  <h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-group" ><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, class:"form-control" %></div>

  <div class="form-group"><%= f.label :password %><br />
  <%= f.password_field :password, class:"form-control" %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group"><%= f.check_box :remember_me %> <%= f.label :remember_me, class:"form-control" %></div>
  <% end -%>

  <div><%= f.submit "Sign in", class:"btn btn-success" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>

