<%= form_for @post, :html => { :class => "well col-md-4 col-md-offset-4"} do |f| %>
    <div class="form-group">
      <%= f.label :content, :class => 'control-label' %>
      <div class="form-group">
        <%= f.text_area :content, :class => 'form-control' %>
      </div>
      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    posts_path, :class => 'btn' %>
      </div>
<% end %>