<% @posts.each do |post| %>
        <div class="well col-md-4 col-md-offset-4">
        <% unless post.user.name.blank? %>
            <%= post.user.name %>
        <% else %>
            <%= post.user.email %>
        <% end %>
        wrote:
        </br>
        <%= image_tag "post.user.avatar", class: "img-circle", id: "avatar" %>
        <%= post.content %>
        <% if current_user == post.user -%>

            <%= link_to "Edit",  edit_post_path(post), class:"pull-right btn btn-success" -%>
        <% end %>
        </div>
<% end %>
