<!DOCTYPE html>
<html>
<head>
  <title>Warsztaty SCRUM</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="jumbotron">
  <h1 id="h1"> <a href="/"> Welcome to Coders Lab</a></h1>
  <% if user_signed_in? -%>

      <p>Jesteś zalogowany jako <%= current_user.email -%></p>


      <div class="btn-toolbar" role="toolbar">
        <%= link_to "Posts Index",  posts_path ,class:"btn btn-default btn-lg" -%>

        <div class="btn-group pull-right" >
        <%= link_to "Edit Account",  edit_user_registration_path ,class:"btn btn-primary btn-lg" -%>
        <%= link_to "Sign Out",     destroy_user_session_path ,class:"btn btn-primary btn-lg", method: :delete -%>
     </div>
       </div>




  <% else -%>
      <p>Nie jesteś zalogowany</p>

      <div class="btn-group" id="buttons">
        <%= link_to "Login",  new_user_session_path ,class:"btn btn-primary btn-lg" -%>

        <%= link_to "Sign Up",  new_user_registration_path ,class:"btn btn-primary btn-lg" -%>
      </div>

  <% end -%>
</div>

<%= yield %>


</body>
</html>
